<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.renegaed.restart-app</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>1A1F3E38-B156-4EF8-942B-8410D50B98E7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F1279A18-B1F3-47BB-8A3A-306E1678BB26</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>705F8AE6-A26F-4369-B101-EA4B901EFB80</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A093ECEF-3973-4658-BE3B-505517ED67B1</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Add to Exclude List</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AA420122-8057-4E8F-9820-22192EFBBB05</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B00AAF54-57CB-457F-91CA-F718F2E436D9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>renegaed</string>
	<key>description</key>
	<string>Restart a currently running App</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Restart App</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>restart</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading Apps...</string>
				<key>script</key>
				<string>./script.sh "{query}"</string>
				<key>subtext</key>
				<string>List all running applications</string>
				<key>title</key>
				<string>Restart App</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>705F8AE6-A26F-4369-B101-EA4B901EFB80</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Added to Exclude List</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A093ECEF-3973-4658-BE3B-505517ED67B1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo "{query}" &gt;&gt; ./exclude_app_path_list.txt</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AA420122-8057-4E8F-9820-22192EFBBB05</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./restart.sh "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B00AAF54-57CB-457F-91CA-F718F2E436D9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>rexclude</string>
				<key>subtext</key>
				<string>List of App Paths to exclude from results when using "restart" workflow</string>
				<key>text</key>
				<string>Open the Exclude List</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1A1F3E38-B156-4EF8-942B-8410D50B98E7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open ./exclude_app_path_list.txt</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F1279A18-B1F3-47BB-8A3A-306E1678BB26</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1A1F3E38-B156-4EF8-942B-8410D50B98E7</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>705F8AE6-A26F-4369-B101-EA4B901EFB80</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>A093ECEF-3973-4658-BE3B-505517ED67B1</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>AA420122-8057-4E8F-9820-22192EFBBB05</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>B00AAF54-57CB-457F-91CA-F718F2E436D9</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>F1279A18-B1F3-47BB-8A3A-306E1678BB26</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
