*.swp
.gitconfig
.mono/
jgit/
simple-update-notifier/
iterm2/
configstore/
stripe/
tmux/plugins
.tmux/plugins
.npm/
.nuget/
.vscode/
.cache/
.fig/
.zsh_sessions/
.zsh_history/
*dump*
*cache*
.local/
.ssh/
.mongodb/
karabiner/automatic_backups/
*.dll
hosts.*
.dotnet
borg/security
*history*
.fig.dotfiles.bak
firebase-tools.json
*credential*
.DS_Store
wireshark/
node_modules/
raycast/config.json
gh/
Nuget/
.templateengine/*
github-copilot/
raycast/extensions/
htop
yarn/global
.yarnrc
ngrok/ngrok.yml
.nuxtrc
gcloud/configurations
gcloud/logs
gcloud/virtenv
gcloud
uv/uv-receipt.json
fish/conf.d/uv.env.fish
