<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>20417919-30BB-4683-B360-2A0636B3D27B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>avanza</string>
			<key>text</key>
			<string>Search Avanza for {query}</string>
			<key>url</key>
			<string>https://www.avanza.se/ab/sok/inline?query={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>302BB533-5368-4753-8E2A-C55A0B1557D7</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ts</string>
			<key>text</key>
			<string>Översätt {query} till svenska</string>
			<key>url</key>
			<string>https://translate.google.com/?tl=sv&amp;text={query}&amp;op=translate</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>4353C09F-DE6D-4942-B466-DEA2F900C1A2</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>t</string>
			<key>text</key>
			<string>Translate {query}</string>
			<key>url</key>
			<string>https://translate.google.com/?text={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>61C43729-75CF-4A4D-8350-DB8B6EF716FB</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>te</string>
			<key>text</key>
			<string>Translate {query} to English</string>
			<key>url</key>
			<string>https://translate.google.com/?tl=en&amp;text={query}&amp;op=translate</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>7447759C-3BA3-4503-8C3C-0BDAF1D49905</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>jobbsök</string>
			<key>text</key>
			<string>jobbsök google sheets</string>
			<key>url</key>
			<string>https://docs.google.com/spreadsheets/d/1ceZ8VNs9qb8tEZmV0DBRhMYpxTQnfgJQTrp7aTUigZc/edit?gid=423239745#gid=423239745</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>8A3BF57A-0EEA-4E24-8698-3FF94CE06C48</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>lub</string>
			<key>text</key>
			<string>lub</string>
			<key>url</key>
			<string>https://lubsearch.lub.lu.se/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>AB54261D-2163-4BE7-B553-AE334F5C786D</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>osm</string>
			<key>spaces</key>
			<string>/</string>
			<key>text</key>
			<string>osm {query}</string>
			<key>url</key>
			<string>https://www.openstreetmap.org/#map=19/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>CFB2F94A-DAD3-468B-8F04-108C314D15FE</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gs</string>
			<key>text</key>
			<string>Google Scholar</string>
			<key>url</key>
			<string>https://scholar.google.com/scholar?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>D7E82251-A208-447A-A44D-38F1AA425AF9</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>arx</string>
			<key>text</key>
			<string>arXiv search</string>
			<key>url</key>
			<string>https://arxiv.org/search/cs?query={query}&amp;searchtype=all&amp;abstracts=show&amp;order=-announced_date_first&amp;size=50</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>D9A1F1D6-6387-4A9B-B94D-3EC3F5F8ACD5</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>master thesis hours</string>
			<key>text</key>
			<string>Master thesis hours</string>
			<key>url</key>
			<string>https://docs.google.com/spreadsheets/d/1w9uNo1qc_CbNDpmFCs5qZztWC70T2-jfuuupUAkfQ2M/edit?gid=555998828#gid=555998828</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
	<key>onlyShowEnabledInPrefs</key>
	<true/>
</dict>
</plist>
