<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>darkthemeuid</key>
	<string>theme.custom.F43181AD-EDC2-40DB-B002-61ECBC35E177</string>
	<key>lightthemeuid</key>
	<string>theme.custom.C789551F-8448-4B6D-88C8-A2A8F6D059B4</string>
</dict>
</plist>
